{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block head %}
{{ wizard.form.media }}
{% endblock %}

{% block content %}
<p>Page {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
<form action="" method="post" class='form-horizontal'>
{{ wizard.management_form }}
{% if wizard.steps.step1 == 2 %}
    <script type='text/javascript'>
        function getSizes() {
            var s = document.getElementById('torsoEditorOne').sizes;
            document.getElementById('1-current_body_shape_shoulders').value = s[0];
            document.getElementById('1-current_body_shape_waist').value = s[1];
            document.getElementById('1-current_body_shape_hips').value = s[2];
            var s = document.getElementById('torsoEditorTwo').sizes;
            document.getElementById('1-ideal_body_shape_shoulders').value = s[0];
            document.getElementById('1-ideal_body_shape_waist').value = s[1];
            document.getElementById('1-ideal_body_shape_hips').value = s[2];
        }
    </script>
    <applet vspace="10" name="torsoEditor" code="http://howlatewillbenbe.com/static/rhi/TorsoEditor.class" width="450" height="250" id="torsoEditorOne"></applet><br />
    <applet vspace="10" name="torsoEditor" code="http://howlatewillbenbe.com/static/rhi/TorsoEditor.class" width="450" height="250" id="torsoEditorTwo"></applet>
{% endif %}
{% if wizard.form.forms %}
    {{ wizard.form.management_form }}
    {% for form in wizard.form.forms %}
        {{ form }}
    {% endfor %}
{% else %}
    {% crispy wizard.form %}
{% endif %}
{% comment %}
{% if wizard.steps.prev %}
These are removed due to not wanting the individual to go back. If these are wanted, add them back in survey.forms using crispy_forms
<button name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">Page 1</button>
<button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">Previous Page</button>
{% endif %}
{% endcomment %}
</form>
{% endblock %}


