{% extends 'base.html' %}

{% block content %}
<div>
<p>Thank you very much for taking the time to complete our &quot;Out for Health&quot; survey of Physical Activity in the LGBTQ community! Your answers will help to shape education and outreach programs that will benefit LGBTQ individuals in Minnesota. If you have any questions, would like to check out some of the other projects we are involved with, or are looking to find ways to help, seek us out at:</p><br>

<p><b>Rainbow Health Initiative | <a href="http://www.rainbowhealth.org" target="_blank">RainbowHealth.org</a></b><br>
3249 Hennepin Avenue South, Suite 45<br>Minneapolis, MN 55408<br>(612) 206-3180</p><br>

<p>And elsewhere on the web at:<br>
<b>Facebook:</b> <a href="https://www.facebook.com/rainbowhealth" target="_blank">facebook.com/RainbowHealth</a><br>
<b>Twitter:</b> <a href="https://twitter.com/RainbowHealth" target="_blank">@RainbowHealth</a></p><br>
</div>
{% endblock %}
